<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title> <!--todo o q esta dentro de {} vem de uma variável python-->
</head>
<body>
    <form action="/tabuada" method="POST">
    <label for="number1">Número 01:</label>
    <input type="number" name="num1" class="form-control" id="number1" placeholder="Informe um número"/>

    <button type="submit" class="botao">Tabuada</button> <!--executa ação do botão-->

    <label id="result">{{resultado}}</label><!--aqui é onde vamos mostrar o resultado do botão soma-->
    </form>
</body>
</html>